<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ecommerce">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce">
        <activity android:name=".Fragments.CadastroProdutos"></activity>
        <activity
            android:name=".TelaPrincipal"
            android:label="@string/title_activity_tela_principal"
            android:theme="@style/Theme.Ecommerce.NoActionBar" />
        <activity android:name=".Form.FormCadastro" />
        <activity android:name=".Form.FormLogin" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Slides"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>